
div.l_container {
	width: 20%;
	height: 100%;
	padding-left: 4em;
	padding-top:  20%;
	padding-right: 4em;

}

div.r_container {
	width: 80%;
	height:100%;
	float: right;
	padding-right: 4em;
	padding-left: 4em;

}

@media screen and (min-width: 0px){
	.header_container {width: }
}
.header_container {
	width: 100%;
	max-height: 40%;
	display: flex;
}
.logo {
	width: 20%;
	text-align: left;
}
.name {
	width: 80%;
	text-align: right;
	font: calibri;
	font-size: 200%;
	color: #747704;
}
h2 {
    text-align: right;
    font-size: 80%;
}

p {
	border-bottom: 0.4em solid #BCBBBB;
}
.main_image {
	display: flex;
	width: 100%;
	padding: none;
	margin: none;
}

h4 {
	display: flex;
	width: 300%;
	font: calibri;
	font-size: 250%;
	color: #BCBBBB;
}

.b_container {
	width: 100%;
	display: flex;
}

.bottom {
	width: 33%;
}
#app {
	width: 100%;
	order: 1;
}
#sun {
	width: 100%;
	order: 2;
}
#bo {
	order: 3;
	width: 100%;
}
h3 {
	text-align: center;
	font-size: 200%;
	color: #747704;
}
a {
	text-align: center;
	font-size: medium;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
	color: #747704;
}

div#left_1 {
	height: 75px;
	width: 75px;
	margin-bottom: 10px;
	background-color: #F8981C;

}
div#left_2 {
	height: 75px;
	width: 75px;
	margin-bottom: 10px;
	background-color: #BCBBBB;

}
div#left_3 {
	height: 75px;
	width: 75px;
	background-color: #747704;

}
h5 {
	font-size: 100%;
}

